@mixin sprite-width($variable,$scale:1) {
  width: map_get($variable,width) * $scale;
}

@mixin sprite-height($variable,$scale:1) {
  height: map_get($variable,height) * $scale;
}

@mixin sprite-position($variable,$scale:1) {
  $offset-x: map_get($variable,offset_x) * $scale;
  $offset-y: map_get($variable,offset_y) * $scale;
  background-position: #{$offset_x}px #{$offset_y}px;
}

@mixin sprite-image($variable) {
  $image: map_get($variable,image);
  background-image: url(#{$image});
  background-repeat: no-repeat;
}

@mixin sprite-size($variable,$scale:1) {
  $total_width: map_get($variable,total_width) * $scale;
  $total_height: map_get($variable,total_height) * $scale;
  background-size: #{$total_width}px #{$total_height}px;
}

@mixin sprite($variable,$scale:1) {
  display: inline-block;
  @include sprite-image($variable,image);
  @include sprite-position($variable,$scale);
  @include sprite-width($variable,$scale);
  @include sprite-height($variable,$scale);
  @include sprite-size($variable,$scale);
}
