{
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "filenames"
  ],
  "rules": {
    "comma-dangle": [1, "never"],
    "no-console": 1,
    "eol-last": 0,
    "block-scoped-var": 0,
    "complexity": 1,
    "consistent-return": 1,
    "default-case": 1,
    "eqeqeq": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-eval": 2,
    "no-new": 0,
    "no-new-func": 1,
    "no-proto": 2,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-void": 2,
    "no-var": 2,
    "camelcase": [2, {"properties": "always"}],
    "no-array-constructor": 1,
    "quotes": [0, "single"],
    "no-unused-vars": 1,
    "space-after-keywords": 0,
    "space-infix-ops": 0,
    "space-return-throw-case": 0,
    "comma-spacing": 0,
    "prefer-const": 0,
    "no-undef": 0,
    "curly": 0,
    "filenames/match-regex": [2, "^[a-z\\-]+$"],
    "filenames/match-exported": [2, "kebab"]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  }
}
