/*
#styleguide
icon

```
<i class="icon icon-arrow-bg"></i>
<i class="icon icon-arrow-next-active"></i>
<i class="icon icon-arrow-next"></i>
<i class="icon icon-arrow-prev-active"></i>
<i class="icon icon-arrow-prev"></i>
<i class="icon icon-book"></i>
<i class="icon icon-bronze-prize"></i>
<i class="icon icon-button-arrow"></i>
<i class="icon icon-cart-active"></i>
<i class="icon icon-cart"></i>
<i class="icon icon-combo-down"></i>
<i class="icon icon-combo-up"></i>
<i class="icon icon-count-arrow"></i>
<i class="icon icon-drop-arrow-up"></i>
<i class="icon icon-drop-arrow"></i>
<i class="icon icon-external"></i>
<i class="icon icon-gold-prize"></i>
<i class="icon icon-goods"></i>
<i class="icon icon-help-active"></i>
<i class="icon icon-help"></i>
<i class="icon icon-label-arrow"></i>
<i class="icon icon-limited"></i>
<i class="icon icon-link-arrow"></i>
<i class="icon icon-mail"></i>
<i class="icon icon-music"></i>
<i class="icon icon-ponycan-active"></i>
<i class="icon icon-ponycan"></i>
<i class="icon icon-search"></i>
<i class="icon icon-silver-prize"></i>
<i class="icon icon-video"></i>
```
*/
$icon-arrow-bg: 0px 0px 0px 0px 64px 68px 362px 185px '../images/sprites/icon.png';
$icon-arrow-next-active: 123px 41px -123px -41px 22px 20px 362px 185px '../images/sprites/icon.png';
$icon-arrow-next: 150px 41px -150px -41px 22px 20px 362px 185px '../images/sprites/icon.png';
$icon-arrow-prev-active: 69px 41px -69px -41px 22px 20px 362px 185px '../images/sprites/icon.png';
$icon-arrow-prev: 96px 41px -96px -41px 22px 20px 362px 185px '../images/sprites/icon.png';
$icon-book: 309px 21px -309px -21px 17px 14px 362px 185px '../images/sprites/icon.png';
$icon-bronze-prize: 0px 114px 0px -114px 79px 33px 362px 185px '../images/sprites/icon.png';
$icon-button-arrow: 263px 42px -263px -42px 5px 8px 362px 185px '../images/sprites/icon.png';
$icon-cart-active: 221px 21px -221px -21px 22px 16px 362px 185px '../images/sprites/icon.png';
$icon-cart: 194px 21px -194px -21px 22px 16px 362px 185px '../images/sprites/icon.png';
$icon-combo-down: 321px 42px -321px -42px 8px 5px 362px 185px '../images/sprites/icon.png';
$icon-combo-up: 308px 42px -308px -42px 8px 5px 362px 185px '../images/sprites/icon.png';
$icon-count-arrow: 353px 21px -353px -21px 4px 8px 362px 185px '../images/sprites/icon.png';
$icon-drop-arrow-up: 217px 42px -217px -42px 24px 12px 362px 185px '../images/sprites/icon.png';
$icon-drop-arrow: 295px 42px -295px -42px 8px 5px 362px 185px '../images/sprites/icon.png';
$icon-external: 246px 42px -246px -42px 12px 12px 362px 185px '../images/sprites/icon.png';
$icon-gold-prize: 0px 152px 0px -152px 79px 33px 362px 185px '../images/sprites/icon.png';
$icon-goods: 294px 21px -294px -21px 10px 14px 362px 185px '../images/sprites/icon.png';
$icon-help-active: 248px 21px -248px -21px 9px 15px 362px 185px '../images/sprites/icon.png';
$icon-help: 262px 21px -262px -21px 9px 15px 362px 185px '../images/sprites/icon.png';
$icon-label-arrow: 282px 42px -282px -42px 8px 5px 362px 185px '../images/sprites/icon.png';
$icon-limited: 194px 0px -194px 0px 168px 16px 362px 185px '../images/sprites/icon.png';
$icon-link-arrow: 273px 42px -273px -42px 4px 6px 362px 185px '../images/sprites/icon.png';
$icon-mail: 194px 42px -194px -42px 18px 12px 362px 185px '../images/sprites/icon.png';
$icon-music: 276px 21px -276px -21px 13px 14px 362px 185px '../images/sprites/icon.png';
$icon-ponycan-active: 0px 73px 0px -73px 120px 36px 362px 185px '../images/sprites/icon.png';
$icon-ponycan: 69px 0px -69px 0px 120px 36px 362px 185px '../images/sprites/icon.png';
$icon-search: 125px 73px -125px -73px 18px 18px 362px 185px '../images/sprites/icon.png';
$icon-silver-prize: 84px 114px -84px -114px 79px 33px 362px 185px '../images/sprites/icon.png';
$icon-video: 331px 21px -331px -21px 17px 14px 362px 185px '../images/sprites/icon.png';

.icon {
    display: inline-block;
    &.icon-arrow-bg {
        @include sprite($icon-arrow-bg);
    }
    &.icon-arrow-next-active {
        @include sprite($icon-arrow-next-active);
    }
    &.icon-arrow-next {
        @include sprite($icon-arrow-next);
    }
    &.icon-arrow-prev-active {
        @include sprite($icon-arrow-prev-active);
    }
    &.icon-arrow-prev {
        @include sprite($icon-arrow-prev);
    }
    &.icon-book {
        @include sprite($icon-book);
    }
    &.icon-bronze-prize {
        @include sprite($icon-bronze-prize);
    }
    &.icon-button-arrow {
        @include sprite($icon-button-arrow);
    }
    &.icon-cart-active {
        @include sprite($icon-cart-active);
    }
    &.icon-cart {
        @include sprite($icon-cart);
    }
    &.icon-combo-down {
        @include sprite($icon-combo-down);
    }
    &.icon-combo-up {
        @include sprite($icon-combo-up);
    }
    &.icon-count-arrow {
        @include sprite($icon-count-arrow);
    }
    &.icon-drop-arrow-up {
        @include sprite($icon-drop-arrow-up);
    }
    &.icon-drop-arrow {
        @include sprite($icon-drop-arrow);
    }
    &.icon-external {
        @include sprite($icon-external);
    }
    &.icon-gold-prize {
        @include sprite($icon-gold-prize);
    }
    &.icon-goods {
        @include sprite($icon-goods);
    }
    &.icon-help-active {
        @include sprite($icon-help-active);
    }
    &.icon-help {
        @include sprite($icon-help);
    }
    &.icon-label-arrow {
        @include sprite($icon-label-arrow);
    }
    &.icon-limited {
        @include sprite($icon-limited);
    }
    &.icon-link-arrow {
        @include sprite($icon-link-arrow);
    }
    &.icon-mail {
        @include sprite($icon-mail);
    }
    &.icon-music {
        @include sprite($icon-music);
    }
    &.icon-ponycan-active {
        @include sprite($icon-ponycan-active);
    }
    &.icon-ponycan {
        @include sprite($icon-ponycan);
    }
    &.icon-search {
        @include sprite($icon-search);
    }
    &.icon-silver-prize {
        @include sprite($icon-silver-prize);
    }
    &.icon-video {
        @include sprite($icon-video);
    }
}
