<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>
<h1>PC</h1>
<h2>test</h2>
<% include template/_footer %>
</body>
</html>