/*
#styleguide
sample

```
<i class="sample frontainer01"></i>
<i class="sample frontainer02"></i>
<i class="sample frontainer03"></i>
<i class="sample frontainer04"></i>
<i class="sample frontainer05"></i>
<i class="sample frontainer06"></i>
```
*/

$frontainer01: 0px 0px 0px 0px 300px 300px 910px 605px '../images/sample.png' frontainer01;
$frontainer02: 305px 0px -305px 0px 300px 300px 910px 605px '../images/sample.png' frontainer02;
$frontainer03: 0px 305px 0px -305px 300px 300px 910px 605px '../images/sample.png' frontainer03;
$frontainer04: 305px 305px -305px -305px 300px 300px 910px 605px '../images/sample.png' frontainer04;
$frontainer05: 610px 0px -610px 0px 300px 300px 910px 605px '../images/sample.png' frontainer05;
$frontainer06: 610px 305px -610px -305px 300px 300px 910px 605px '../images/sample.png' frontainer06;


$sample: ($frontainer01,$frontainer02,$frontainer03,$frontainer04,$frontainer05,$frontainer06,);
@each $sprite in $sample {
    $name: nth($sprite,10);
    sample.#{$name} {
        @include sprite($sprite,1);
    }
}
