/*
#styleguide
{{#if options.prefix}}{{options.prefix}}{{/if}}

```
{{#each sprites}}
<i class="{{#if ../options.prefix}}{{../../options.prefix}} {{/if}}{{name}}"></i>
{{/each}}
```
*/

{{#block "sprites"}}
{{#each sprites}}
${{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}' {{name}};
{{/each}}
{{/block}}

{{#block "sprite-functions"}}
{{#if options.functions}}
@mixin sprite-width($sprite,$scale:1) {
    width: nth($sprite, 5) * $scale;
}
@mixin sprite-height($sprite,$scale:1) {
    height: nth($sprite, 6) * $scale;
}
@mixin sprite-position($sprite,$scale:1) {
    $sprite-offset-x: nth($sprite, 3) * $scale;
    $sprite-offset-y: nth($sprite, 4) * $scale;
    background-position: $sprite-offset-x  $sprite-offset-y;
}
@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    background-repeat: no-repeat;
}
@mixin sprite-size($sprite,$scale:1) {
    background-size: nth($sprite, 7)*$scale nth($sprite, 8)*$scale;
}
@mixin sprite($sprite,$scale:1) {
    display: inline-block;
    @include sprite-image($sprite);
    @include sprite-position($sprite,$scale);
    @include sprite-width($sprite,$scale);
    @include sprite-height($sprite,$scale);
    @include sprite-size($sprite,$scale);
}
{{/if}}
{{/block}}

{{#block "spritesheet"}}
${{spritesheet_info.strings.name_sprites}}: ({{#each sprites}}${{strings.name}}, {{/each}});
{{/block}}
@each $sprite in ${{spritesheet_info.strings.name_sprites}} {
    $name: nth($sprite,10);
    {{#if options.prefix}}.{{options.prefix}}{{/if}}.#{$name} {
        @include sprite($sprite,{{options.scale}});
    }
}