<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_head %>
  <%- patch %>
</head>
<body>
<script src="assets/js/app.js<%- patch %>" async></script>
</body>
</html>
