$icon-web-navigation-line-craft-1-109681: (
    x: 0,
    y: 0,
    width: 512,
    height: 512,
    total_width: 1536,
    total_height: 1024,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: 0
);$icon-web-navigation-line-craft-2-109682: (
    x: 512,
    y: 0,
    width: 512,
    height: 512,
    total_width: 1536,
    total_height: 1024,
    image: "../images/icon.png",
    offset_x: -512,
    offset_y: 0
);$icon-web-navigation-line-craft-3-109688: (
    x: 0,
    y: 512,
    width: 512,
    height: 512,
    total_width: 1536,
    total_height: 1024,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: -512
);$icon-web-navigation-line-craft-4-109689: (
    x: 512,
    y: 512,
    width: 512,
    height: 512,
    total_width: 1536,
    total_height: 1024,
    image: "../images/icon.png",
    offset_x: -512,
    offset_y: -512
);$icon-web-navigation-line-craft-5-109690: (
    x: 1024,
    y: 0,
    width: 512,
    height: 512,
    total_width: 1536,
    total_height: 1024,
    image: "../images/icon.png",
    offset_x: -1024,
    offset_y: 0
);

@mixin sprite($variable,$scale:1) {
    $image: map_get($variable,image);
    $offset_x: map_get($variable,offset_x) * $scale;
    $offset_y: map_get($variable,offset_y) * $scale;
    $width: map_get($variable,width) * $scale;
    $height: map_get($variable,height) * $scale;
    $total_width: map_get($variable,total_width) * $scale;
    $total_height: map_get($variable,total_height) * $scale;
    background-image: url($image);
    background-position: #{$offset_x}px #{$offset_y}px;
    background-size: #{$total_width}px #{$total_height}px;
    width: #{$width}px;
    height: #{$height}px;
}


.icon {
    display: inline-block;
    background-repeat: no-repeat;
    
    &.icon-web-navigation-line-craft-1-109681{
        @include sprite($icon-web-navigation-line-craft-1-109681, 1);
    }
    &.icon-web-navigation-line-craft-2-109682{
        @include sprite($icon-web-navigation-line-craft-2-109682, 1);
    }
    &.icon-web-navigation-line-craft-3-109688{
        @include sprite($icon-web-navigation-line-craft-3-109688, 1);
    }
    &.icon-web-navigation-line-craft-4-109689{
        @include sprite($icon-web-navigation-line-craft-4-109689, 1);
    }
    &.icon-web-navigation-line-craft-5-109690{
        @include sprite($icon-web-navigation-line-craft-5-109690, 1);
    }
}