/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-web-navigation-line-craft-1-109681 {
  background-image: url(../images/icon.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-web-navigation-line-craft-2-109682 {
  background-image: url(../images/icon.png);
  background-position: -512px 0px;
  width: 512px;
  height: 512px;
}
.icon-web-navigation-line-craft-3-109688 {
  background-image: url(../images/icon.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-web-navigation-line-craft-4-109689 {
  background-image: url(../images/icon.png);
  background-position: -512px -512px;
  width: 512px;
  height: 512px;
}
.icon-web-navigation-line-craft-5-109690 {
  background-image: url(../images/icon.png);
  background-position: -1024px 0px;
  width: 512px;
  height: 512px;
}
